body {
	padding: 10px;
}

.canvas {
	height: 500px;
	width: 100%;
}

#console {
	border: 1px solid white;
	position: fixed;
}

.notifications {
	position: fixed;
	z-index: 9999;
	right: 10px;
}

.prop-span {
    min-width:75px;
    text-align:left;
}

.prop-btns {
    margin: 2px;
}